<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport"               content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">


    <title>{% block title %}Home - P5 Blog PHP{% endblock %}</title>

    <link rel="canonical" href="{% block canonical %}https://lydiab.ovh/p5-blog-php{% endblock %}">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">

        <meta name="description"                content="{% block description %}Homepage of the P5-blog-php{% endblock %}">
        <meta name="author"                     content="Lydia B">
        <meta name="copyright"                  content="MIT">

        <meta property="og:type"        content="website">
        <meta property="og:title"       content="{{ block('title') }}">
        <meta property="og:url"         content="{{ block('canonical') }}">
        <meta property="og:description" content="{{ block('description') }}">

         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Text+Me+One%7cCinzel:400,700,900%7cShare+Tech+Mono">
        <link rel="stylesheet" href="node_modules/@fortawesome/fontawesome-free/css/all.min.css">

        <link rel="stylesheet" href="css/style.css">
        </head>

<body>
<header>
    <h1>
        <i class="fab fa-php fa-fw fa-lg" aria-hidden="true"></i>
        P5 Blog PHP
    </h1>
    {{ include('layout/navbar.twig') }}
</header>





{% block main %}{% endblock %}




<main>
</main>

<footer>
    {{ include('layout/footer.twig') }}

</footer>
</body>
</html>